* {
background-color: rgb(238, 68, 49);
text-align: center;
font-family: Verdana, Geneva, Tahoma,
sans-serif;
}
#newTask {
display: block;
margin-left: auto;
margin-right: auto;
background-color: white;
font-size: 16px;
border-radius: 5px;
padding: 5px;
}
#newTask:focus {
outline: 2px solid white;
background-color: burlywood;
}
#addTask {
display: block;
margin-left: auto;
margin-right: auto;
background-color:rgb(156, 77, 21);
color: white;
font-size: 14px;
padding: 5px;
border: 2px solid white;
border-radius: 5px;
}
#addTask:hover {
cursor: pointer;
color: black;
background-color: chocolate;
border: 2px solid black;
}
ul {
list-style: none;

}
li{
text-align: center;
display: block;
border: 1px solid black;
width: 75%;
background-color: burlywood;
padding: 8px;
margin-left: 10%;
}
ul :hover{
background-color: rgb(218, 162, 89);
cursor: pointer;
}
ul li.selectTask {
text-decoration: line-through;
background-color: limegreen;
border: 2px solid black;
font-style: italic;
color: whitesmoke;
}
#deleteTask {
display: block;
margin-left: auto;
margin-right: auto;
background-color: rgb(156, 77, 21);
color: black;
font-size: 14px;
padding: 5px;
border: 2px solid black;
border-radius: 5px;
}
#deleteTask:hover {
cursor: pointer;
background-color: chocolate;
color: white;
border: 2px solid white;
}
